## Importation des données et configuration du data set

In [1215]:
# We import all the libraries we'll need for the exercise
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# We load the CSV file we need to study
housing_object_studying = pd.read_csv('/home/apprenant/Documents/Brief-6-Rachid-Karbiche/data/02_intermediate_data/cleaned_all_housing_data.csv')

## Exploration des données

In [1216]:
housing_object_studying.columns

Index(['Unnamed: 0', 'Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea',
       'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [1217]:
housing_object_studying

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1456,1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1457,1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1458,1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1459,1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [1218]:
numerical_columns = housing_object_studying[housing_object_studying.select_dtypes([int, float]).columns.to_list()]
sale_column = numerical_columns['SalePrice']
numerical_columns = numerical_columns.drop(columns=['Unnamed: 0', 'Id', 'SalePrice'])
numerical_columns

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,548,0,61,0,0,0,0,0,2,2008
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,460,298,0,0,0,0,0,0,5,2007
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,608,0,42,0,0,0,0,0,9,2008
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,642,0,35,272,0,0,0,0,2,2006
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,836,192,84,0,0,0,0,0,12,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,460,0,40,0,0,0,0,0,8,2007
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,500,349,0,0,0,0,0,0,2,2010
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,252,0,60,0,0,0,0,2500,5,2010
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,240,366,0,112,0,0,0,0,4,2010
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,276,736,68,0,0,0,0,0,6,2008

In [1219]:
sale_column

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [1220]:
categorical_columns = pd.get_dummies(housing_object_studying[housing_object_studying.select_dtypes(object).columns.to_list()])

In [1221]:
concatenated_columns = pd.concat([numerical_columns, categorical_columns], axis=1)
concatenated_columns

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,0,0,1,0,0,0,0,1,0
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,0,0,1,0,0,0,0,1,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,0,0,0,1,0,0,0,0,1,0
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,0,0,0,1,0,0,0,0,1,0

In [1222]:
concatenated_columns.isna().sum().sort_values()

MSSubClass                 0
ExterCond_Gd               0
ExterCond_Po               0
ExterCond_TA               0
Foundation_BrkTil          0
                        ...
Condition1_RRAn            0
SaleCondition_Partial      0
MasVnrArea                 8
GarageYrBlt               81
LotFrontage              259
Length: 270, dtype: int64

In [1223]:
concatenated_columns = concatenated_columns.drop(columns=['MasVnrArea', 'GarageYrBlt', 'LotFrontage'])

## Préparation des données

### Sélection de la variable cible et des variables explicatives

In [1224]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

On définit à présent notre variable cible

Ainsi que nos variables explicatives

In [1225]:
def modelizing_linear_regression(database, target_value, evaluated_values):
    y = target_value
    x = database[evaluated_values]
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.8)
    regr = linear_model.LinearRegression()
    regr.fit(xtrain, ytrain)
    return regr, xtrain, ytrain, xtest, ytest

In [1226]:
defined_regr, x_train, y_train, x_test, y_test = modelizing_linear_regression(concatenated_columns, sale_column, concatenated_columns.columns.to_list())

In [1227]:
for i in defined_regr.coef_:
    print(i)

-55.097813957967695
0.8495990437733552
7047.129004047307
5147.704658299672
273.9036069192164
80.4260854978582
16.319554609097054
3.7164964028337693
-1.2115160879654638
18.82441012095694
20.836147993237546
25.52743496703016
-23.520751595965976
22.842876897839233
1703.5765927858192
-3697.713693714917
5576.543518706299
3160.0160285999123
-3729.543691030229
-8610.824010677577
1731.7192135773257
3149.8837905525615
3726.6416590009585
18.803635902475435
16.506029203505705
4.0922215975142535
3.5028917688582624
29.836196371219557
41.09083590177033
35.09242974393965
0.47410193198265915
-579.9016039076159
-510.20009043865184
-24201.972246657842
20089.64758481342
1693.6891872157778
2602.7360470368217
-184.10057258846484
-7509.955499594662
7509.95549957836
-1258.353723244341
-1300.0323243183743
620.4719489842389
1937.9140984072576
-1060.2505730647217
6480.979056829659
-11698.418709784824
6277.690226047009
14035.596797249073
-14035.596797265302
5984.0797034227835
14961.654590986187
17.54711113532622
-26515.47819266205
5552.196786968024
8704.899219523904
14599.165982109807
-23304.065201672758
2224.7988007973627
273.36379839529457
6501.941064779174
-5320.821382722028
-10064.544655574433
-6590.515323361594
12605.613862352335
-21195.693810632532
-9473.144736659031
-11841.643203418847
2879.270657949075
-16512.825332514163
-15635.686710649978
23799.170810718875
-15945.64115457116
30550.8296320647
26735.26535023916
-15817.282534995393
-4906.130882468025
-10592.173273896431
-2220.883518771553
-9625.371458284038
49166.021830286474
-11792.166925440064
12798.24909571036
-3299.912698051803
-2638.6033419610044
7012.778102549685
1545.4420954056216
10091.723751020414
-24160.268117766867
-6156.394159953068
7.712515071034431e-10
17605.234368654063
31846.120852422253
29952.724744661664
21223.360787679343
61431.4980268672
-188877.77415263362
-355.4102625919107
15286.812289042447
29492.667714565396
13144.085470996302
7382.4457757378805
-1434.8128282371235
-11695.456859612335
-7396.26156154265
1932.8305043564574
4804.870142305125
1887.2268514958723
-9141.324090196498
3097.5692065984076
-555.212493313026
-3428.4557310200876
1402.495609718258
-1620.0043701650357
-1525.9907505532135
2005.7446381781162
708.1994273154587
787.4613179818484
-355.4102625876132
-544227.2816298056
57090.184305446135
134880.764853028
97950.47519043655
53092.318187332545
70106.3092182421
61664.594723528106
69442.6351518002
15228.51627536703
-11538.470765446615
-4.874891601502895e-10
19259.346023244645
-1.4279066817834973e-10
-9786.011838503293
3076.978513271634
-13284.232769356726
7187.466171197197
3682.2055092190803
-9980.725620455863
-3234.541654652073
1184.3545245176392
-4514.866362209794
2719.981995061309
-3430.589688107013
10619.885014653799
-14678.511140561446
151.6000011253037
2.4010660126805305e-10
11375.44214025101
-1103.314656382541
-2329.704620982138
341.5689057661471
-40498.38027923887
-3722.1396941912653
22416.196261416226
9940.279985223986
5139.024878635724
9158.773544737673
-3380.1306519812388
-6077.235749010589
2587.01246189824
2165.0757027458085
8232.431814818501
11757.120428675566
1212.1817398666353
-5563.653945534882
-7405.648222974216
122.975971669671
376.2356941138139
-4896.810936302585
8440.331751377953
-4042.7324805590474
1780.4009617088582
4414.34605539674
4810.590662023381
-1156.3950949283083
9812.403300719616
-19661.345884876235
-2544.8422812615336
-11241.801986885788
-16811.935241908875
-14445.54847196758
-25497.441153499974
-25354.857288726966
26614.254483039986
-20806.08402285436
13761.8420365916
30955.225078795254
11634.48899967081
9943.147035855642
-8270.234893484532
-7384.413123892945
-3321.4279707535898
-12112.258372569126
-7504.9863767908555
-6450.807244527786
30412.044020927737
13778.285300845157
22001.940950480974
13607.400970124436
17471.666609696505
16829.694275852766
-3.785771696129814e-11
14354.272412057211
3009.5691351382984
409.0608784433281
-9322.72693387824
-8450.175491760418
-1949.2478359596998
-725.0704358301922
-5058.27490781746
13213.16794919486
-5480.5747695279015
-1565.0053308352635
1565.0053306657162
-15222.887154751403
-20419.8461204822
-37756.79206794509
-53990.1761444046
-18432.31896248917
13027.448505667522
1566.6299685013712
-8012.107700696939
-6581.970773461466
4184.522625308483
-1451.5626159632243
9384.803948534756
12956.792222313004
-1010.5909926769708
-44860.96105540152
20796.995867829053
-19107.121746558274
-1286.6749341259924
2899.080264254644
-1200.5756097662452
-757.9883630838697
1825.476172746229
-3736.98548388377
-8789.699702636126
-5101.1190300619655
121772.92941342301
-36914.29809932009
-33169.55901877388
-35844.90480470391
-33471.97170713503
-125630.23807266219
26244.969029877157
29977.22146148223
22500.232699295946
29280.01066552813
1310.0986532752722
-2993.6592730138264
1683.560619913526
-17549.091696589086
10737.23910283722
1320.9056916540178
1221.3142191300772
-26990.610830437043
-9557.018663503335
80019.60530760253
-20160.629710337947
-19041.713420300024
5852.6355621461935
23056.072742381024
22067.258131018374
3733.705654025126
12927.228520766319
-67636.9006103999

In [1228]:
# y = concatenated_housing_data['SalePrice']
# x = concatenated_housing_data[['GrLivArea']]
# xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.8)
# regr = linear_model.LinearRegression()
# regr.fit(xtrain, ytrain)

In [1229]:
# print("Les coefficients β1 sont égaux à {}, {}, {} et {} tandis que l'intercept β0 est égal à {}"
#       .format(round(defined_regr.coef_[0],2), round(defined_regr.coef_[1],2), round(defined_regr.coef_[2],2), round(defined_regr.coef_[3],2), round(defined_regr.intercept_)))

In [1230]:
def predict_y_variable(predicted_values, evaluated_values):
    dataframe = pd.DataFrame({})
    for i in range(len(predicted_values)):
        dataframe[evaluated_values[i]] = [predicted_values[i]]
    return dataframe

In [1231]:
# evaluated_dataframe = predict_y_variable([0, 0, 0, 1], ['MSZoning_FV','MSZoning_RH','MSZoning_RL','MSZoning_RM'])

In [1232]:
def print_prediction(regression_value, dataframe):
    print("Selon le modèle étudié, nous obtenons la valeur suivante : {}"
      .format(round(regression_value.predict(dataframe)[0])))

In [1233]:
# print_prediction(defined_regr, evaluated_dataframe)

In [1234]:
ytrain_pred = defined_regr.predict(x_train)
ytest_pred = defined_regr.predict(x_test)

In [1235]:
print ("Pour les données d'entrainement le R2 vaut {} alors que pour les données de test, il est de {}" 
      .format(round(r2_score(y_train, ytrain_pred),3), round(r2_score(y_test, ytest_pred),3)))

Pour les données d'entrainement le R2 vaut 0.931 alors que pour les données de test, il est de 0.884

In [1236]:
print ("Pour les données d'entrainement le RMSE vaut {} alors que pour les données de test, il est de {}" 
      .format(round(mean_squared_error(y_train, ytrain_pred, squared=False),3), 
              round(mean_squared_error(y_test, ytest_pred, squared=False),3)))

Pour les données d'entrainement le RMSE vaut 20198.746 alors que pour les données de test, il est de 30264.537

## Régression Ridge

In [1237]:
def modelizing_ridge_regression(database, target_value, evaluated_values, determined_alpha):
    y = target_value
    x = database[evaluated_values]
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.8)
    regr = linear_model.Ridge(alpha=determined_alpha)
    regr.fit(xtrain, ytrain)
    return regr, xtrain, ytrain, xtest, ytest

In [1238]:
defined_ridge_regr, x_train_ridge, y_train_ridge, x_test_ridge, y_test_ridge = modelizing_ridge_regression(concatenated_columns, sale_column, concatenated_columns.columns.to_list(), 1)

In [1239]:
ytrain_pred_ridge = defined_ridge_regr.predict(x_train_ridge)
ytest_pred_ridge = defined_ridge_regr.predict(x_test_ridge)

In [1240]:
print ("Pour les données d'entrainement le R2 vaut {} alors que pour les données de test, il est de {}" 
      .format(round(r2_score(y_train_ridge, ytrain_pred_ridge),3), round(r2_score(y_test_ridge, ytest_pred_ridge),3)))

Pour les données d'entrainement le R2 vaut 0.916 alors que pour les données de test, il est de 0.901

## Régression Lasso

In [1241]:
def modelizing_lasso_regression(database, target_value, evaluated_values, determined_alpha):
    y = target_value
    x = database[evaluated_values]
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.8)
    regr = linear_model.Lasso(alpha=determined_alpha)
    regr.fit(xtrain, ytrain)
    return regr, xtrain, ytrain, xtest, ytest

In [1242]:
defined_lasso_regr, x_train_lasso, y_train_lasso, x_test_lasso, y_test_lasso = modelizing_lasso_regression(concatenated_columns, sale_column, concatenated_columns.columns.to_list(), 1)

/home/apprenant/Documents/Brief-6-Rachid-Karbiche/env/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 249569883616.9035, tolerance: 711641199.1137587
  model = cd_fast.enet_coordinate_descent(

In [1243]:
ytrain_pred_lasso = defined_lasso_regr.predict(x_train_lasso)
ytest_pred_lasso = defined_lasso_regr.predict(x_test_lasso)

In [1244]:
print ("Pour les données d'entrainement le R2 vaut {} alors que pour les données de test, il est de {}" 
      .format(round(r2_score(y_train_lasso, ytrain_pred_lasso),3), round(r2_score(y_test_lasso, ytest_pred_lasso),3)))

Pour les données d'entrainement le R2 vaut 0.929 alors que pour les données de test, il est de 0.901