## Importation des données et configuration du data set

In [926]:
# We import all the libraries we'll need for the exercise
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# We load the CSV file we need to study
housing_object_studying = pd.read_csv('/home/apprenant/Documents/Brief-6-Rachid-Karbiche/data/02_intermediate_data/cleaned_all_housing_data.csv')

## Exploration des données

In [927]:
housing_object_studying.columns

Index(['Unnamed: 0', 'Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea',
       'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [928]:
housing_object_studying

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1456,1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1457,1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1458,1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1459,1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [929]:
numerical_columns = housing_object_studying[housing_object_studying.select_dtypes([int, float]).columns.to_list()]
sale_column = numerical_columns['SalePrice']
numerical_columns = numerical_columns.drop(columns=['Unnamed: 0', 'Id', 'SalePrice'])
numerical_columns

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,548,0,61,0,0,0,0,0,2,2008
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,460,298,0,0,0,0,0,0,5,2007
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,608,0,42,0,0,0,0,0,9,2008
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,642,0,35,272,0,0,0,0,2,2006
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,836,192,84,0,0,0,0,0,12,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,460,0,40,0,0,0,0,0,8,2007
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,500,349,0,0,0,0,0,0,2,2010
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,252,0,60,0,0,0,0,2500,5,2010
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,240,366,0,112,0,0,0,0,4,2010
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,276,736,68,0,0,0,0,0,6,2008

In [930]:
sale_column

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [931]:
categorical_columns = pd.get_dummies(housing_object_studying[housing_object_studying.select_dtypes(object).columns.to_list()])

In [932]:
concatenated_columns = pd.concat([numerical_columns, categorical_columns], axis=1)
concatenated_columns

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,0,0,1,0,0,0,0,1,0
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,0,0,1,0,0,0,0,1,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,0,0,0,1,0,0,0,0,1,0
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,0,0,0,1,0,0,0,0,1,0

In [933]:
concatenated_columns.isna().sum().sort_values()

MSSubClass                 0
ExterCond_Gd               0
ExterCond_Po               0
ExterCond_TA               0
Foundation_BrkTil          0
                        ...
Condition1_RRAn            0
SaleCondition_Partial      0
MasVnrArea                 8
GarageYrBlt               81
LotFrontage              259
Length: 270, dtype: int64

In [934]:
concatenated_columns = concatenated_columns.drop(columns=['MasVnrArea', 'GarageYrBlt', 'LotFrontage'])

## Préparation des données

### Sélection de la variable cible et des variables explicatives

In [935]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

On définit à présent notre variable cible

Ainsi que nos variables explicatives

In [936]:
def modelizing_linear_regression(database, target_value, evaluated_values):
    y = target_value
    x = database[evaluated_values]
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.8)
    regr = linear_model.LinearRegression()
    regr.fit(xtrain, ytrain)
    return regr, xtrain, ytrain, xtest, ytest

In [937]:
defined_regr, x_train, y_train, x_test, y_test = modelizing_linear_regression(concatenated_columns, sale_column, concatenated_columns.columns.to_list())

In [938]:
for i in defined_regr.coef_:
    print(i)

22.93521101852475
0.9574731748593619
6421.3701700542115
5913.240154408849
338.2728415618498
83.18464050656581
16.57702109136096
10.09281873886448
-1.9889828840936161
24.68136560803714
13.885345803829068
42.95677050461313
-25.34507044623024
31.497001512401766
-72.05202552859282
924.4341314884932
3461.227009154992
606.2979149522166
-3040.5650857749397
-15855.785518738992
921.5837638833164
2536.9664555932777
4096.546394353304
20.63800815523973
12.795001368349403
-5.44072745059475
3.4143097881060385
18.603888064624698
33.329258971335776
77.3183768267836
-0.6195859683284652
-446.1071850296212
-265.74423690127696
-25953.621643374267
17933.43948873761
2477.6923019024107
4207.179468271548
1335.3103847579741
-14529.813346392159
14529.813346174738
-2185.64603118752
-1388.0755442515324
4022.6126668366296
-448.8910893629361
314.3290160260658
8815.67549259046
-18448.5777167678
9318.573207976688
14233.369877521023
-14233.36987756814
4179.232753836518
13789.061950182633
-4772.283798752213
-15746.78341626923
2550.7725097904504
19580.689344521248
27329.86312352374
-46910.552468179914
-2421.8804791869766
7378.834991383797
7166.421195562127
-633.2202438289789
-11605.234517262845
-9264.252852484806
14272.623633516729
-18363.446353845007
-6722.298686695067
-4564.979969720168
-5276.709967095891
-21587.236787865506
-14323.839047451396
16068.410599140081
-17496.57516882706
30807.74858456987
18115.535995596776
-10816.854494512327
2331.7638304411803
-9094.773981428434
-1757.608910146786
-3396.2873051580436
45327.71720870858
-10081.690151388077
5937.83287838472
-4347.825714196728
3534.6308862035107
11750.287937332769
3291.547504735141
13811.374803923543
-24483.434713962415
1433.1421699356858
-8070.382729025931
3080.65985453792
71958.62466081366
61766.58364989486
51863.735426286396
-4.31100488640368e-10
-185086.4168757789
-95671.87664593513
35720.44280153851
59448.90698323636
14219.538880170492
1394.3344332173983
7298.936106430658
-13677.839834398612
-9234.96958186822
2030.8561157172744
16381.127178376883
14480.28556079062
-31026.006126427856
-9856.452419015955
-6092.643122586007
8817.364513347338
5265.468299430834
-28744.77256785167
-20710.151407579848
-19129.34862231739
-19846.870445758108
-8824.773505134595
97255.91654853025
-623494.7908223644
47903.58348641276
183412.46815048112
152678.8135705443
37404.60391935552
59562.133262087686
41701.12352180829
100832.06491163428
22940.59016558562
-18459.75011550925
-1805.1225027028797
21947.92909862245
-8200.477849880002
2404.2050769888274
-4106.012289301259
-40353.57381882787
11273.198129402663
-8474.016151573309
15164.214446625863
9995.509602720735
-1325.759552271732
-1885.0742212038049
884.139981335549
-17574.958239016167
5500.103585515901
9275.330502387485
-2357.244385261128
-8200.477849894085
9597.437184147551
7709.87090457813
24601.07772680715
-4769.13621057984
-27260.350928494783
8104.0341465889505
-19906.900762142042
-3369.7502571908026
7901.963845578948
7227.0459953690215
3521.954744311679
8591.227277658621
14955.114830344854
13632.47965565182
21186.13615725603
11618.709557616017
11166.88413198329
-10948.825971886034
-11836.767717800005
-4269.738344796161
-677.0756598884673
-5575.454094025108
13553.76734953267
-3031.499250670753
1525.3663611177917
4294.307874590629
6884.908259657989
-14674.908261442133
10765.339435584285
-8795.01366958807
-1421.722143945186
-12367.862976553912
-20556.7307715542
-16825.397671900086
-35669.66314029234
-39898.629518694295
58571.67661706033
-34175.09752239273
14064.676954410696
27022.02964318965
7517.349106594982
6430.641283670989
-10804.892518494686
-6177.442670270938
-4360.774798386263
-13839.239741970954
-7921.3266691609
-8068.037165793792
29446.099916543673
18584.04184868577
25197.519173962548
15714.25915114498
22710.692548059582
22577.578062504872
-16048.343693960293
6006.77627618421
470.7415306122625
2224.16725596652
-19437.541750804532
26784.200381874743
-1424.5491234577003
1381.67684767327
-3627.0231380727337
7256.435810833935
-3586.5403967212005
-179.02649142940822
179.02649185396376
-18051.00181813769
-20032.605234675906
-78188.29224748546
-152220.4721598496
-19655.513701770913
17161.597534011747
-2502.8604677067874
-8216.635352444344
-6442.1017138193865
-1155.042201064593
9685.42871157419
9973.777945773318
8371.50461586932
-8875.042456422354
-39173.72238874853
21173.095772909895
-21168.617191156227
1549.3245955782777
9474.798847268603
-2007.878921812453
-1048.2185210258936
4584.798897441881
-2991.1191467214803
-3953.375220676482
-1671.2979274516383
90531.67115561124
-34352.63276283503
-33139.1824741638
-2499.2622732677787
-29156.385939588607
-95994.37967541422
21585.029626639338
18803.79628415113
25946.112740805533
21043.648729269207
1752.2477780943186
-2101.7097518851733
349.46197348122087
-9547.088063699965
4960.871866776852
15791.66942056061
9462.91116429249
-3650.6786800898217
-12431.89170606338
4047.9666112679724
738.5211850176967
-9372.281798072792
-9504.775469498622
19546.285521024205
2345.167875457858
-7988.212628120975
-3085.2745596192963
-1313.19073915653

In [939]:
# y = concatenated_housing_data['SalePrice']
# x = concatenated_housing_data[['GrLivArea']]
# xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.8)
# regr = linear_model.LinearRegression()
# regr.fit(xtrain, ytrain)

In [940]:
# print("Les coefficients β1 sont égaux à {}, {}, {} et {} tandis que l'intercept β0 est égal à {}"
#       .format(round(defined_regr.coef_[0],2), round(defined_regr.coef_[1],2), round(defined_regr.coef_[2],2), round(defined_regr.coef_[3],2), round(defined_regr.intercept_)))

In [941]:
def predict_y_variable(predicted_values, evaluated_values):
    dataframe = pd.DataFrame({})
    for i in range(len(predicted_values)):
        dataframe[evaluated_values[i]] = [predicted_values[i]]
    return dataframe

In [942]:
# evaluated_dataframe = predict_y_variable([0, 0, 0, 1], ['MSZoning_FV','MSZoning_RH','MSZoning_RL','MSZoning_RM'])

In [943]:
def print_prediction(regression_value, dataframe):
    print("Selon le modèle étudié, nous obtenons la valeur suivante : {}"
      .format(round(regression_value.predict(dataframe)[0])))

In [944]:
# print_prediction(defined_regr, evaluated_dataframe)

In [945]:
ytrain_pred = defined_regr.predict(x_train)
ytest_pred = defined_regr.predict(x_test)

In [946]:
def get_model_metrics(model, x, y, b1=True, b0=True, title=None):
    """
        Separate data in train and test sets,
        fit the model,
        make predictions on train and test datas,
        print metrics

        params:
            model(function): model used with params (ie: Lasso(alpha=x)) 
            X(DataFrame): DataFrame subset with selected features,
            y(Series): variable to predict

        returns: 
                print β1, β0, R2 and RMSE
    """
    # Split des datas
    x_train, x_test, y_train, y_test = train_test_split(
        x, y, train_size=0.8, random_state=1
    )
    model.fit(x_train, y_train)
    if title:
        print(f"{title} : ")
    if b1:
        # Affichage des β1 pour chaque variable
        for idx, name in enumerate(X_train.columns):
            print(f"β1 de {name} : {round(model.coef_[idx], 3)}")
    if b0:
        print(f"β0 (intercept_) : {round(model.intercept_, 3)}\n")

    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    y_list = [y_train, y_train_pred, y_test, y_test_pred]
    get_r2_rmse(y_list)

In [947]:
def get_r2_rmse(y_list):
    """
        calculate R2 and RMSE for each sets (train and test)
        and format output

        param:
            y_list = [
                y_train, 
                y_train_pred, 
                y_test, 
                y_test_pred
            ]
    """

    sets = ["Training", "Testing "]
    i = 0
    for set in sets:
        r2 = round(r2_score(y_list[i], y_list[i+1]), 3)
        rmse = round(mean_squared_error(
            y_list[i], y_list[i+1], squared=False), 3)
        print(
            "{} set : R2 = {}, RMSE = {}".format(set, r2, rmse)
        )
        i += 2
    print("\n")

In [948]:
print ("Pour les données d'entrainement le R2 vaut {} alors que pour les données de test, il est de {}" 
      .format(round(r2_score(y_train, ytrain_pred),3), round(r2_score(y_test, ytest_pred),3)))

Pour les données d'entrainement le R2 vaut 0.928 alors que pour les données de test, il est de 0.91

In [949]:
print ("Pour les données d'entrainement le RMSE vaut {} alors que pour les données de test, il est de {}" 
      .format(round(mean_squared_error(y_train, ytrain_pred, squared=False),3), 
              round(mean_squared_error(y_test, ytest_pred, squared=False),3)))

Pour les données d'entrainement le RMSE vaut 21851.693 alors que pour les données de test, il est de 20991.311

## Régression Ridge

In [950]:
def modelizing_ridge_regression(database, target_value, evaluated_values, determined_alpha, normalize=False):
    y = target_value
    x = database[evaluated_values]
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.8)
    regr = linear_model.Ridge(alpha=determined_alpha, normalize=True)
    regr.fit(xtrain, ytrain)
    return regr, xtrain, ytrain, xtest, ytest

In [951]:
defined_ridge_regr, x_train_ridge, y_train_ridge, x_test_ridge, y_test_ridge = modelizing_ridge_regression(concatenated_columns, sale_column, concatenated_columns.columns.to_list(), 7)

In [952]:
ytrain_pred_ridge = defined_ridge_regr.predict(x_train_ridge)
ytest_pred_ridge = defined_ridge_regr.predict(x_test_ridge)

In [953]:
print ("Pour les données d'entrainement le R2 vaut {} alors que pour les données de test, il est de {}" 
      .format(round(r2_score(y_train_ridge, ytrain_pred_ridge),3), round(r2_score(y_test_ridge, ytest_pred_ridge),3)))

Pour les données d'entrainement le R2 vaut 0.717 alors que pour les données de test, il est de 0.755

## Régression Lasso

In [954]:
def modelizing_lasso_regression(database, target_value, evaluated_values, determined_alpha):
    y = target_value
    x = database[evaluated_values]
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.8)
    regr = linear_model.Lasso(alpha=determined_alpha)
    regr.fit(xtrain, ytrain)
    return regr, xtrain, ytrain, xtest, ytest

In [955]:
defined_lasso_regr, x_train_lasso, y_train_lasso, x_test_lasso, y_test_lasso = modelizing_lasso_regression(concatenated_columns, sale_column, concatenated_columns.columns.to_list(), 1)

In [956]:
ytrain_pred_lasso = defined_lasso_regr.predict(x_train_lasso)
ytest_pred_lasso = defined_lasso_regr.predict(x_test_lasso)

In [957]:
print ("Pour les données d'entrainement le R2 vaut {} alors que pour les données de test, il est de {}" 
      .format(round(r2_score(y_train_lasso, ytrain_pred_lasso),3), round(r2_score(y_test_lasso, ytest_pred_lasso),3)))

Pour les données d'entrainement le R2 vaut 0.934 alors que pour les données de test, il est de 0.889

## Utilisation du GridSearchCV (Cross-Validation)

In [958]:
from sklearn.model_selection import GridSearchCV

def modelizing_GridSearchCV(database, target_value, evaluated_values, defined_parameters, model_name):
    y = target_value
    x = database[evaluated_values]
    parameters = defined_parameters
    model = model_name
    regr = GridSearchCV(model, parameters)
    regr.fit(x, y)
    return regr

In [959]:
defined_ridge_grid = modelizing_GridSearchCV(concatenated_columns, sale_column, concatenated_columns.columns.to_list(), {'alpha':np.arange(0, 10, 1).tolist(), 'normalize':[True,False]}, linear_model.Ridge())

In [960]:
results = pd.DataFrame(defined_ridge_grid.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_normalize,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.648920,0.259759,0.023654,0.006074,0,True,"{'alpha': 0, 'normalize': True}",-1.058609e+23,-3.968341e+23,-2.878326e+22,-1.776099e+22,-2.838771e+23,-1.666233e+23,1.493970e+23,20
1,0.321581,0.102144,0.013781,0.007737,0,False,"{'alpha': 0, 'normalize': False}",-2.039183e+18,-4.238480e+18,-1.051341e+18,-1.277339e+18,-2.749682e+17,-1.776262e+18,1.353511e+18,19
2,0.106468,0.045240,0.027765,0.012007,1,True,"{'alpha': 1, 'normalize': True}",9.065174e-01,8.459223e-01,8.444678e-01,8.770281e-01,7.416772e-01,8.431226e-01,5.562247e-02,1
3,0.086091,0.021496,0.017611,0.004860,1,False,"{'alpha': 1, 'normalize': False}",9.026234e-01,8.316129e-01,8.685269e-01,8.768996e-01,6.983258e-01,8.355977e-01,7.230777e-02,10
4,0.098017,0.034316,0.028329,0.011141,2,True,"{'alpha': 2, 'normalize': True}",8.816736e-01,8.301339e-01,8.126712e-01,8.543397e-01,7.326630e-01,8.222963e-01,5.047898e-02,11
5,0.102939,0.027446,0.024647,0.005905,2,False,"{'alpha': 2, 'normalize': False}",9.042165e-01,8.342819e-01,8.746565e-01,8.753836e-01,7.042550e-01,8.385587e-01,7.074721e-02,9
6,0.089519,0.024883,0.031928,0.009502,3,True,"{'alpha': 3, 'normalize': True}",8.560718e-01,8.110771e-01,7.816641e-01,8.307184e-01,7.173267e-01,7.993716e-01,4.770632e-02,12
7,0.085205,0.026895,0.034763,0.011454,3,False,"{'alpha': 3, 'normalize': False}",9.044784e-01,8.361798e-01,8.766061e-01,8.754993e-01,7.072418e-01,8.400011e-01,6.985271e-02,8
8,0.128895,0.029316,0.029292,0.004729,4,True,"{'alpha': 4, 'normalize': True}",8.311651e-01,7.910181e-01,7.528691e-01,8.073465e-01,7.001133e-01,7.765024e-01,4.592148e-02,13
9,0.104173,0.015145,0.031349,0.007418,4,False,"{'alpha': 4, 'normalize': False}",9.046529e-01,8.376578e-01,8.773361e-01,8.760245e-01,7.090029e-01,8.409349e-01,6.932980e-02,7
10,0.039652,0.006686,0.011052,0.004363,5,True,"{'alpha': 5, 'normalize': True}",8.072745e-01,7.707995e-01,7.262177e-01,7.846485e-01,6.824235e-01,7.542727e-01,4.461929e-02,14
11,0.052750,0.018004,0.016676,0.009494,5,False,"{'alpha': 5, 'normalize': False}",9.048534e-01,8.388461e-01,8.775514e-01,8.766443e-01,7.101020e-01,8.415995e-01,6.902303e-02,6
12,0.068757,0.028621,0.021318,0.017737,6,True,"{'alpha': 6, 'normalize': True}",7.844665e-01,7.508355e-01,7.014867e-01,7.627845e-01,6.648460e-01,7.328839e-01,4.357066e-02,15
13,0.026467,0.008877,0.008103,0.004211,6,False,"{'alpha': 6, 'normalize': False}",9.050785e-01,8.398203e-01,8.775067e-01,8.772574e-01,7.107934e-01,8.420913e-01,6.885142e-02,5
14,0.031730,0.011564,0.006957,0.002395,7,True,"{'alpha': 7, 'normalize': True}",7.627283e-01,7.313471e-01,6.784592e-01,7.418068e-01,6.476584e-01,7.123999e-01,4.266177e-02,16
15,0.040627,0.014419,0.008409,0.004325,7,False,"{'alpha': 7, 'normalize': False}",9.053154e-01,8.406307e-01,8.773169e-01,8.778294e-01,7.112129e-01,8.424611e-01,6.876910e-02,4
16,0.066196,0.035307,0.017093,0.005617,8,True,"{'alpha': 8, 'normalize': True}",7.420184e-01,7.124530e-01,6.569473e-01,7.217193e-01,6.309960e-01,6.928268e-01,4.183339e-02,17
17,0.066799,0.014849,0.021475,0.008398,8,False,"{'alpha': 8, 'normalize': False}",9.055536e-01,8.413125e-01,8.770417e-01,8.783500e-01,7.114416e-01,8.427399e-01,6.874816e-02,3
18,0.068988,0.023502,0.011926,0.004087,9,True,"{'alpha': 9, 'normalize': True}",7.222859e-01,6.942137e-01,6.367918e-01,7.025027e-01,6.149217e-01,6.741432e-01,4.105389e-02,18
19,0.050481,0.025035,0.009082,0.005231,9,False,"{'alpha': 9, 'normalize': False}",9.057860e-01,8.418918e-01,8.767150e-01,8.788182e-01,7.115312e-01,8.429484e-01,6.877061e-02,2

In [961]:
print(defined_ridge_grid.best_estimator_)

Ridge(alpha=1, normalize=True)

In [962]:
get_model_metrics(linear_model.Ridge(alpha=14), concatenated_columns[concatenated_columns.columns.to_list()], sale_column, b1=False, b0=False)

Training set : R2 = 0.893, RMSE = 25494.259
Testing  set : R2 = 0.864, RMSE = 31152.102

In [963]:
defined_lasso_grid = modelizing_GridSearchCV(concatenated_columns, sale_column, concatenated_columns.columns.to_list(), {'alpha':np.arange(100, 110, 1).tolist()}, linear_model.Lasso())

In [964]:
results_lasso = pd.DataFrame(defined_lasso_grid.cv_results_)
results_lasso

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.242777,0.076780,0.031408,0.009126,100,{'alpha': 100},0.916312,0.841638,0.871830,0.900695,0.718797,0.849854,0.070324,10
1,0.229497,0.106562,0.021578,0.005078,101,{'alpha': 101},0.916299,0.841776,0.872055,0.900671,0.718768,0.849914,0.070341,9
2,0.196658,0.082409,0.024075,0.008321,102,{'alpha': 102},0.916284,0.841913,0.872270,0.900634,0.718742,0.849969,0.070353,8
3,0.163152,0.019847,0.021907,0.009649,103,{'alpha': 103},0.916269,0.842048,0.872481,0.900600,0.718718,0.850023,0.070364,7
4,0.147905,0.036595,0.012774,0.007562,104,{'alpha': 104},0.916252,0.842176,0.872688,0.900566,0.718690,0.850074,0.070377,6
5,0.157983,0.040164,0.026729,0.006455,105,{'alpha': 105},0.916238,0.842299,0.872891,0.900531,0.718653,0.850122,0.070393,5
6,0.171858,0.089418,0.027571,0.010710,106,{'alpha': 106},0.916223,0.842420,0.873090,0.900495,0.718615,0.850168,0.070410,4
7,0.121271,0.033464,0.020433,0.010594,107,{'alpha': 107},0.916208,0.842539,0.873284,0.900458,0.718577,0.850213,0.070426,3
8,0.207537,0.074107,0.036548,0.021149,108,{'alpha': 108},0.916192,0.842652,0.873474,0.900419,0.718538,0.850255,0.070442,2
9,0.220739,0.050974,0.041605,0.010462,109,{'alpha': 109},0.916174,0.842762,0.873663,0.900380,0.718499,0.850296,0.070458,1

In [965]:
print(defined_lasso_grid.best_estimator_)

Lasso(alpha=109)

## Utilisation du RandomizedSearchCV (Cross-Validation)

In [966]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform

def modelizing_RandomizedSearchCV(database, target_value, evaluated_values, defined_parameters, model_name, n_iter=10, cv=5, random_state=None):
    y = target_value
    x = database[evaluated_values]
    parameters = defined_parameters
    model = model_name
    regr = RandomizedSearchCV(model, parameters, n_iter=n_iter, cv=cv, random_state=random_state)
    regr.fit(x, y)
    return regr

In [868]:
defined_ridge_randomized = modelizing_RandomizedSearchCV(concatenated_columns, sale_column, concatenated_columns.columns.to_list(), {'alpha':uniform(loc=0, scale=10), 'normalize':[True, False]}, linear_model.Ridge(), random_state=1)

In [869]:
results_randomized_ridge = pd.DataFrame(defined_ridge_randomized.cv_results_)
results_randomized_ridge

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_normalize,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.109969,0.030597,0.026958,0.010159,4.17022,True,"{'alpha': 4.17022004702574, 'normalize': True}",0.827023,0.787573,0.748187,0.803429,0.697114,0.772665,0.045674,9
1,0.079899,0.023330,0.026020,0.003417,9.325574,False,"{'alpha': 9.325573593386588, 'normalize': False}",0.905860,0.842062,0.876601,0.878960,0.711537,0.843004,0.068785,1
2,0.106794,0.027723,0.027834,0.007307,3.023326,False,"{'alpha': 3.0233257263183977, 'normalize': False}",0.904483,0.836218,0.876633,0.875509,0.707294,0.840027,0.069837,3
3,0.091676,0.042085,0.025454,0.004819,2.36089,False,"{'alpha': 2.3608897695197606, 'normalize': False}",0.904344,0.835028,0.875590,0.875338,0.705537,0.839167,0.070367,4
4,0.091112,0.014731,0.021868,0.006507,1.862602,False,"{'alpha': 1.862602113776709, 'normalize': False}",0.904144,0.833975,0.874196,0.875443,0.703684,0.838288,0.070914,5
5,0.064055,0.023363,0.013772,0.007396,6.69746,False,"{'alpha': 6.6974603680348, 'normalize': False}",0.905243,0.840400,0.877385,0.877662,0.711109,0.842360,0.068786,2
6,0.108450,0.023778,0.030396,0.012000,5.388167,True,"{'alpha': 5.3881673400335695, 'normalize': True}",0.798292,0.763005,0.716402,0.776058,0.675568,0.745865,0.044190,10
7,0.052694,0.007324,0.022803,0.007898,3.132735,True,"{'alpha': 3.132735169322751, 'normalize': True}",0.852714,0.808447,0.777712,0.827588,0.715106,0.796313,0.047428,8
8,0.067374,0.031060,0.018613,0.005325,2.044522,True,"{'alpha': 2.0445224973151745, 'normalize': True}",0.880530,0.829328,0.811250,0.853294,0.732059,0.821292,0.050322,6
9,0.041040,0.027060,0.010316,0.004628,2.295772,True,"{'alpha': 2.2957721372982554, 'normalize': True}",0.874072,0.824685,0.803289,0.847373,0.728475,0.815579,0.049504,7

In [870]:
defined_ridge_randomized.best_estimator_

Ridge(alpha=9.325573593386588)

In [871]:
defined_lasso_randomized = modelizing_RandomizedSearchCV(concatenated_columns, sale_column, concatenated_columns.columns.to_list(), {'alpha':uniform(loc=100, scale=500), 'normalize':[True, False]}, linear_model.Lasso(), random_state=1)

In [872]:
results_randomized_lasso = pd.DataFrame(defined_lasso_randomized.cv_results_)
results_randomized_lasso

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_normalize,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.083967,0.025526,0.032810,0.012520,308.511002,True,"{'alpha': 308.511002351287, 'normalize': True}",0.813074,0.774196,0.726408,0.785717,0.686002,0.757079,0.045257,9
1,0.120615,0.057130,0.016660,0.002878,566.27868,False,"{'alpha': 566.2786796693294, 'normalize': False}",0.895576,0.842323,0.853636,0.873230,0.687609,0.830475,0.073693,5
2,0.159731,0.031812,0.023827,0.005677,251.166286,False,"{'alpha': 251.16628631591988, 'normalize': False}",0.910051,0.848243,0.877409,0.888491,0.711610,0.847161,0.070645,3
3,0.164601,0.031257,0.038939,0.021005,218.044488,False,"{'alpha': 218.04448847598803, 'normalize': False}",0.911134,0.847996,0.880550,0.892117,0.712606,0.848881,0.071161,2
4,0.193052,0.058510,0.036297,0.013106,193.130106,False,"{'alpha': 193.13010568883544, 'normalize': False}",0.912591,0.847539,0.881210,0.894592,0.713225,0.849831,0.071545,1
5,0.121985,0.031713,0.025942,0.006372,434.873018,False,"{'alpha': 434.87301840174, 'normalize': False}",0.902293,0.845172,0.861799,0.878781,0.699470,0.837503,0.071560,4
6,0.085960,0.011085,0.014853,0.005916,369.408367,True,"{'alpha': 369.40836700167847, 'normalize': True}",0.792354,0.755822,0.699306,0.763520,0.678872,0.737975,0.042229,10
7,0.088427,0.006242,0.016325,0.002697,256.636758,True,"{'alpha': 256.63675846613756, 'normalize': True}",0.833117,0.793281,0.753176,0.808956,0.690708,0.775848,0.049885,8
8,0.081916,0.020268,0.026464,0.013048,202.226125,True,"{'alpha': 202.22612486575872, 'normalize': True}",0.853752,0.811849,0.786555,0.830492,0.693787,0.795287,0.055336,6
9,0.028917,0.000953,0.011124,0.004782,214.788607,True,"{'alpha': 214.78860686491277, 'normalize': True}",0.848938,0.807878,0.779365,0.825683,0.691951,0.790763,0.054388,7

In [873]:
defined_lasso_randomized.best_estimator_

Lasso(alpha=193.13010568883544)